<!-- component Header-->
<header class="AxaXl-Header">

    <div class="AxaXl-Header__top">

        <a class="AxaXl-Header__Link-Axa" href="!#" title="Axa Xl Reinsurance">
            <img class="AxaXl-Header__Link-Axa-img" src="components/header/assets/logo-AXA.svg" alt="Axa Xl Reinsurance" />
        </a>


        <div class="AxaXl-Header__Nav">

            <div class="AxaXl-Header__MainNav">

                <input id="burger" class="AxaXl-Header__MainNav-input" type="checkbox" />

                <label for="burger" class="AxaXl-Header__MainNav-label">
                    <span></span>
                    <span></span>
                    <span></span>
                </label>

                <nav class="AxaXl-Header__MainNav-Nav">
                    <ul class="AxaXl-Header__MainNav-lists">
                        <li class="AxaXl-Header__MainNav-list AxaXl-Header__MainNav-list--active"><a class="AxaXl-Header__MainNav-link" href="#" title="Link #1">Link #1</a></li>
                        <li class="AxaXl-Header__MainNav-list"><a class="AxaXl-Header__MainNav-link" href="#" title="Link #1">Link #1</a></li>
                        <li class="AxaXl-Header__MainNav-list"><a class="AxaXl-Header__MainNav-link" href="#" title="Link #1">Link #1</a></li>
                    </ul>
                </nav>

            </div>

            <nav class="AxaXl-Header__Nav-Fuctionnal">
                <ul class="AxaXl-Header__Nav-Fuctionnal-lists">
                    <li class="AxaXl-Header__Nav-Fuctionnal-list">
                        <a class="AxaXl-Header__Nav-Fuctionnal-link" href="#!" title="Notification"><span class="AxaXl-Header__Nav-Fuctionnal-icon"><span class="AxaXl-Header__Nav-Fuctionnal-count">3</span><img src="components/header/assets/Bell.svg" alt="Notification" /></span><span class="AxaXl-Header__Nav-Fuctionnal-text">Notifications</span></a>
                    </li>
                    <li class="AxaXl-Header__Nav-Fuctionnal-list">
                        <a class="AxaXl-Header__Nav-Fuctionnal-link" href="#!" title="Message"><span class="AxaXl-Header__Nav-Fuctionnal-icon"><img src="components/header/assets/message.svg" alt="Message" /></span> <span class="AxaXl-Header__Nav-Fuctionnal-text">Message</span></a>
                    </li>
                    <li class="AxaXl-Header__Nav-Fuctionnal-list">
                        <a class="AxaXl-Header__Nav-Fuctionnal-link" href="#!" title="Notification"><span class="AxaXl-Header__Nav-Fuctionnal-icon"><img src="components/header/assets/earth.svg" alt="Language" /></span> <span class="AxaXl-Header__Nav-Fuctionnal-text">FR</span> <img class="AxaXl-Header__Nav-Fuctionnal-imgArrow" src="components/header/assets/arrow.svg" alt="arrow" /></a>
                    </li>
                    <li class="AxaXl-Header__Nav-Fuctionnal-list">
                        <a class="AxaXl-Header__Nav-Fuctionnal-link AxaXl-Header__Nav-Fuctionnal-link--active" href="#!" title="Notification"><span class="AxaXl-Header__Nav-Fuctionnal-icon"><img src="components/header/assets/man.svg" alt="Language" /></span> <span class="AxaXl-Header__Nav-Fuctionnal-text">Frédéric LE JULE</span> <img class="AxaXl-Header__Nav-Fuctionnal-imgArrow" src="components/header/assets/arrow.svg" alt="arrow" /></a>
                    </li>
                </ul>
            </nav>

        </div>

        <a class="AxaXl-Header__Link-Xl" href="!#" title="Axa Xl Reinsurance">
            <img class="AxaXl-Header__Link-Xl-img" src="components/header/assets/axa-xl-insurance.svg" alt="Axa Xl Reinsurance" />
        </a>

    </div>

    <div class="AxaXl-Header__SubNav">

        <a class="AxaXl-Header__Link-app" href="!#" title="Axa Xl Reinsurance">
            <img src="components/header/assets/home.svg" alt="Home - App Name" />
            Name app
        </a>

        <span class="AxaXl-Header__Env">
            Environement
        </span>

    </div>

</header>

<!-- / component Header -->

<p>
    scroll <br />
    scroll <br />
    scroll <br />
    scroll <br />
    scroll <br />
    scroll <br />
    scroll <br />
    scroll <br />
    scroll <br />
    scroll <br />
    scroll <br />
    scroll <br />
    scroll <br />
    scroll <br />
    scroll <br />
    scroll <br />
    scroll <br />
    scroll <br />
    scroll <br />
    scroll <br />
    scroll <br />
    scroll <br />
    scroll <br />
    scroll <br />
    scroll <br />
    scroll <br />
    scroll <br />
    scroll <br />
    scroll <br />
    scroll <br />
    scroll <br />
    scroll <br />
    scroll <br />
    scroll <br />
    scroll <br />
    scroll <br />
    scroll <br />
    scroll <br />
    scroll <br />
    scroll <br />
    scroll <br />
    scroll <br />
    scroll <br />
    scroll <br />
    scroll <br />
    scroll <br />
    scroll <br />
    scroll <br />
    scroll <br />
    scroll <br />
    scroll <br />
    scroll <br />
    scroll <br />
    scroll <br />
    scroll <br />
    scroll <br />
    scroll <br />
</p>
